.site-header {
	position: fixed;
	width: 100%;
	background-color: #fff;
	z-index: 100;
	top:0;
	left: 0;
	height:115px;
}

.site-footer {
	clear: both;
	width: $size__site-main;
}

.site-content {
	margin-top: 115px;
}

.site-content .widget-area {
	background-color: $charcoal;
}

.content-area {
	padding-top: 1rem;
	padding-left: 4rem;
	padding-right:4rem;
	padding-bottom: 4rem;
	}

.site-title {
		float: left;
	    margin-left: 3em;
	    margin-top: 0.5em;
	    position: absolute;
	    text-transform: uppercase;
	    }