button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	display: inline-block;
	min-width: 200px;
	  padding: 8px;
	  color: #fff;
	  background: transparent;
	  border: 1px solid #fff;
	  text-align: center;
	  outline: none;
	  text-decoration: none;
		@include font-size(0.75);
		line-height: 1;
		//padding: .6em 1em .4em;
		//text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

	&:hover,
	&:active,
	&:focus {
		border-color: $color__border-button-focus;
		background-color: #fff;
		color: $charcoal;
	}
	
	& a{
		color: #fff;
	}
}

.woocommerce a.button {
font-size: .8em;
padding: .6em;
font-weight: 500;
}

.sensei-login-submit .button,
input.course-start,
button.single_add_to_cart_button.button.alt {
	background: $coral;
	color: #fff;
	
&:hover,
	&:active,
	&:focus {
		background: #e34636;
	}
	
	& a{
		color: #fff;
	}
}
