.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}
@media screen and (min-width: 750px) {
    .front-left {
        width: 50%;
        float: left;
        padding-right: 4rem;
    }

    .front-right {
        width: 50%;
        float: right;
        padding-left: 4rem;
		text-align: right;
    }
}

@media screen and (max-width: 1099px) {
    .indent {
        margin: 0;
        padding: 0 4rem;
    }
}

@media screen and (max-width: 320px) {
    .indent {
       margin: 0;
    }
}

@media screen and (min-width: 450px) {
    .programs-title {
        margin-bottom: 0;
        margin-right: 10%;
        width: 40%;
        float: left;
    }

    .programs-lede {
        width: 50%;
        min-height: 376px;
        float: left;
    }
    
}
@media screen and (min-width: 950px) {
    .programs-list {
        column-count: 2;
    }
    #contact.magic-minus {
		margin-top: -60px;
	}
}

/* TESTIMONIALS RESPONSIVE */ 

@media screen and (min-width: 650px) {
    .testimonials li {
        padding: 4rem 4rem;
    }
}

@media screen and (min-width: 950px) {
    .testimonials li {
        width: 33.3333333333%;
        padding: 2rem 4rem;
        float: left;
    }
    .testimonial-thumb {
        max-width: 210px;
        margin: 0 auto;
        float: none;
    }
    
    .testimonial-text {
        float: none;
        width: auto;
        margin: 0;
    }
    
    .testimonial-name {
        text-align: center;
    }
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
@import "captions";

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
@import "galleries";