h1, h2, h3, h4, h5, h6 {
	clear: both;
}

h1 {
	font-family: $font__h1;
	text-transform: uppercase;
	}

h2 {
	font-family: $font__h1;
	text-transform: uppercase;
	}

h2.widget-title {
	font-family: $font__side;
	text-transform: uppercase;
	letter-spacing: .2em;
	}
	
.site-header {
	box-shadow: 0 6px 6px -6px grey;
}
