$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: transparent;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: #404040;
$color__link-visited: #404040;
$color__link-hover: #F45747;
$color__text-main: #404040;

$color__border-button: #fff;
$color__border-button-hover: #fff;
$color__border-button-focus: #fff;
$color__border-input: #fff;
$color__border-abbr: #fff;

$charcoal: #404040;
$coral: #F45747;
$teal: #067887;
$mint: #A4EDD9;
$grey: #808080;
$widget: transparent;