a {
	color: $color__link;
	text-decoration: underline;
	&:hover,
	&:focus,
	&:active {
		color: $charcoal;
	}
	&:focus,
	&:hover,
	&:active {
		color: $coral;
		outline: 0;
	}
}

.site-title a,
.entry-title a {
	text-decoration: none;
}